*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
*.xcworkspace
build/
IRCCloud/config.h
IRCCloud/InfoPlist.h
IRCCloud/GoogleService-Info.plist
/*.png
/*.sh
/*.mobileprovision
/*.ipa
infer-out/
Preview.html
/*.dSYM.zip
fastlane/report.xml
fastlane/.env
screenshots/
Gemfile.lock
Podfile.lock
Pods/
.env
